body{
    margin: 1px;
}
#slider1{
    background-image: url(/Assets/Imagenes/slider-1.png);
    background: transparent url(/Assets/Imagenes/slider-1.png) 0% 0% no-repeat padding-box;
    color: white;
    width: 1366px;
    height: 768px;
    clear: both;
    content: '';
    display: table;
    opacity: 1;  
}
.logo{
   padding: auto;
}
.menu{
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: end

}
.menu li a{
    display: flexbox;
    padding: 40px 21px;
    color: white;
    text-decoration-style: none;
}


.button{ 
    top: 480px;
    left: 101px;
    width: 144px;
    height: 48px;
    background: #E0752F 0% 0% no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
    }

.title{
    top: 254px;
    left: 101px;
    width: 554px;
    height: 115px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0-67);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 600 48px/48px Poppins;
    letter-spacing: 0.67px;
    color: #FFFFFF;
    opacity: 1;

}

